.completed-episodes-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.completed-episodes-list {
  list-style-type: none;
  padding: 50px 0;
  margin-bottom: 50px;
  overflow: hidden;
  overflow-y: visible;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  max-height: 800px;
}

.completed-episode-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.completed-episode-index {
  font-weight: bold;
  margin-right: 20px;
  margin-left: 15px;
}

.completed-episode-image {
  width: 90px;
  height: auto;
  object-fit: fill;
  padding-bottom: 10px;
}

.completed-episode-details {
  flex-grow: 1;
}

.completed-episode-show {
  font-weight: bold;
}

.completed-episode-show,
.completed-episode-title,
.completed-episode-season {
  margin-left: 5px;
  color: #ffffff;
}

.season-title {
  font-size: 17px;
  color: #5c5b5b;
  padding-left: 20%;
}

.no-completed-episodes {
  font-size: 18px;
  color: #555;
}

.clear-button {
  background-color: #aa2504;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #eed7d7;
  border: 2px solid #aa2504;
  color: black;
}

.clear-button:active {
  background-color: #b26856;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.clear-button.disabled {
  background-color: #ccc;
  color: #aaa;
  cursor: not-allowed;
  border: none;
}

.clear-button:hover:not(.disabled) {
  background-color: #eed7d7;
  border: 2px solid #aa2504;
  color: black;
}

.clear-button:active:not(.disabled) {
  background-color: #b26856;
  color: #ffffff;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 540px) {
  .season-title {
    font-size: 10px;
  }

  .completed-episodes-list {
    max-height: 220px;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .completed-episode-image {
    width: 50px;
  }
}
