.home-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 125px;
}

.home-container h1 {
  text-decoration: underline;
  text-underline-offset: 8px;
  padding-bottom: 10px;
  font-size: 40px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-container label {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}

.filter-container select {
  flex: 2;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid #000000;
}

textarea {
  flex: 2;
  padding: 6px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  overflow-y: hidden;
  resize: vertical;
}
textarea::placeholder {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
textarea:focus {
  outline: none;
}

.home-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.home-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  outline: black;
  border: 2px solid #b23e3e;
  border-radius: 5px;
  padding: 10px;
}

.season-image {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  color: #000000;
  background-color: wheat;
  font-size: larger;
  padding: 5px;
  border-radius: 5px;
}

.active-link {
  color: #000000;
  background-color: lightgray;
  font-weight: bold;
  font-size: larger;
  padding: 5px;
  border-radius: 5px;
}

.show-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.show-genre {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.show-seasons {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.show-updated {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

@media screen and (max-width: 670px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-container > div {
    width: calc(50% - 5px);
    margin-right: 10px;
  }

  .filter-container select {
    width: 110%;
    margin-right: 0;
    font-size: 13px;
  }
  .filter-container textarea {
    width: 100%;
    font-size: 13px;
  }

  .filter-container label {
    white-space: nowrap;
  }

  .home-container h1 {
    font-size: 2rem;
  }
}
