.show-details {
  margin: 20px auto;
  padding: 30px 80px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.show-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.show-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: auto;
  margin: 0 auto;
  height: auto;
  max-height: 500px;
  overflow: hidden;
  overflow-y: visible;
  scroll-snap-type: y mandatory;
}
.show-info::-webkit-scrollbar {
  width: 10px;
}

.show-info::-webkit-scrollbar-thumb {
  background-color: wheat;
  border-radius: 5px;
}

.show-info::-webkit-scrollbar-track {
  background-color: #f5ac26;
}
.show-image {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}
.show-title {
  margin-top: 20px;
}

.season-image {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}

.show-description {
  text-align: left;
  max-width: 70%;
}

.back-button {
  background-color: #eed7d7;
  border: 2px solid #aa2504;
  border-radius: 5px;
  padding: 10px 20px;
  content: "\2190";
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s, width 0.3s, font-size 0.3s;
  position: fixed;
  left: 10px;
  top: 55%;
  z-index: 1000;
}

.back-button:hover {
  background-color: #aa2504;
  color: white;
}

.back-button:active {
  background-color: #b26856;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.back-button.active {
  background-color: #bfbcbc;
  color: #333;
  border: 2px solid #ffffff;
  font-size: 12px;
}

/* .back-button.inactive {
  padding: 10px 20px;
} */

.season-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.season-selector button {
  padding: 5px 15px;
  background-color: #eed7d7;
  border: 2px solid #aa2504;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.4s;
  margin: 15px;
}

.season-selector button:hover {
  background-color: #aa2504;
  color: white;
}

.season-selector button:active {
  background-color: #b26856;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.season-selector button.active {
  background-color: #bfbcbc;
  color: #333;
  border: 2px solid #ffffff;
  font-size: 12px;
}

.season-selector button.inactive {
  padding: 10px 20px;
}

.season-selector button.clicked {
  background-color: #b26856;
  color: white;
  border: 2px solid #ffffff;
}

.season-preview {
  margin-bottom: 20px;
}

.season-preview img {
  max-width: 40%;
  height: auto;
}

.episode {
  padding: 2px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  text-align: center;
}
.episode-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 50px;
  padding-bottom: 20px;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  font-size: 15px;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: wheat;
  color: black;
}

.episode-list .episode button {
  display: block;
  margin-top: 5px;
}
.episodes-heading {
  margin-top: 20px;
  font-size: 24px;
}

.episode-play-button {
  background-color: #eed7d7;
  border: 2px solid #aa2504;
  border-radius: 5px;
  padding: 12px 30px;
  max-width: auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.episode-play-button:hover {
  background-color: #aa2504;
  color: white;
}

.episode-play-button:active {
  background-color: #b26856;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.episode-play-button.clicked {
  background-color: #b26856;
  color: white;
  border: 2px solid #ffffff;
}
.FavouriteButton {
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

.FavouriteButton.clicked {
  color: gold;
}

@media screen and (max-width: 768px) {
  .show-details {
    padding: 0;
  }

  .episode-list {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: visible;
    scroll-snap-type: y mandatory;
  }

  .episode {
    margin: 2px 0;
    margin-right: 20px;
  }

  .show-description {
    flex: initial;
    text-align: center;
  }

  .season-image {
    max-width: 80%;
    margin: 0 auto;
  }
  .back-button {
    padding: 3px 5px;
    font-size: 0;
    width: 50px;
  }

  .back-button::before {
    content: "\2190";
    font-size: 30px;
  }
}
