.audio-player {
  position: fixed;
  bottom: 0;
  background-color: #ffdf88;
  color: rgb(0, 0, 0);
  padding: 5px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  height: min-content;
  z-index: 9999;
}

.audio-player-title {
  font-size: medium;
}

.audio-player-current {
}

.audio-player-element {
  /* Styles for the audio element */
}

.audio-player-select-episode {
  /* Styles for the select an episode message */
}
