.favourite-button {
  cursor: pointer;
  font-size: 25px;
  margin-left: 10px;
  position: relative;
}

.favourite-button.gold {
  color: gold;
}

.notification {
  display: block;
  font-size: 15px;
  color: #aa2504;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  position: absolute;
  padding-left: 15px;
}

.notification.show {
  opacity: 1;
}
@media screen and (max-width: 375px) {
  .notification {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
