.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  right: 0;
}

.navbar-title {
  margin-bottom: 10px; /* Adjust as needed */
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-icons {
  display: flex;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust as needed */
  color: white;
  text-decoration: none;
  padding: 5px;
}

.nav-link:hover .tooltip {
  display: inline;
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.nav-link:last-child {
  margin-right: 0; /* Remove margin from the last icon */
}

@media screen and (max-width: 375px) {
  .navbar {
  }
  .navbar h1 {
    font-size: 0.9rem;
  }
}
