.show-container {
  outline: black;
  border: 1px solid #000000;
  max-width: fit-content;
  padding: 10px;
}

.show-title {
  position: relative;
}

.show-description {
  margin-top: 10px;
}

.seasons-title {
}

.seasons-list {
  /* Styles for the seasons list */
}

.season-item {
  /* Styles for each season item */
}

.season-title {
  /* Styles for each season title */
}

.season-image {
  width: 50%;
  height: auto;
  display: block;
}

.episodes-list {
  /* Styles for the episodes list */
}

.episode-item {
  /* Styles for each episode item */
}

.episode-title {
  /* Styles for each episode title */
}

.episode-description {
  /* Styles for each episode description */
}

.play-button {
  cursor: pointer;
}

.loading {
  /* Styles for the loading message */
}
