/* ShowDetail.css */
.show-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.show-detail h1 {
  font-size: 1.5em; /* Reduce the heading size */
  margin-bottom: 10px;
}

.show-detail p {
  font-size: 1em; /* Reduce the paragraph font size */
  margin-bottom: 10px; /* Reduce the margin */
}

/* Define a grid for the seasons */
.seasons-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid with minimum item width of 250px */
  gap: 20px; /* Add some gap between grid items */
}

.seasons-grid-item {
  border: 1px solid #ddd; /* Add borders to grid items */
  padding: 10px;
}

/* Reduce the size of the image */
.show-detail img {
  max-width: 100%;
  height: auto;
}
