.show-container {
  outline: black;
  border: 1px solid #000000;
  max-width: fit-content;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.show-title {
  position: relative;
  padding-top: 20px;
}

.show-description {
  margin-top: 10px;
}

.seasons-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
}

.seasons-list {
  /* Styles for the seasons list */
}

.season-item {
  /* Styles for each season item */
}

.season-title {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.season-image {
  width: 35%;
  height: 50%;
  display: inline-block;
}

.episodes-list {
  list-style: none;
}

.episode-title {
  font-size: larger;
}

.episode-item li {
  margin-right: 15px;
}

.episode-item h4 {
}

.episode-description {
}

.play-button {
  cursor: pointer;
}

.loading {
  /* Styles for the loading message */
}
